<nav class="navbar navbar-light bg-light" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header"><%= link_to "Restaurants", restaurants_path %></div>
      <div class="navbar-header"><%= link_to "Add a new restaurant", new_restaurant_path %></div>
    </div>
</nav>
